menu "Secrets"

    config SECRETS_WEB_PASSWORD_LEN
        int "Web password length"
        default 12
        range 8 32

    config SECRETS_AP_PASSWORD_LEN
        int "AP password length"
        default 12
        range 8 32

    config SECRETS_NAME_PREFIX
        string "Device name prefix"
        default "boorker"

    config SECRETS_LOG_ON_BOOT
        bool "Log secrets to serial on first boot"
        default y

endmenu
