menu "Event Bus"

    config EVENT_BUS_MAX_CHANNELS
        int "Maximum number of notification channels"
        default 4
        range 1 8
        help
            Maximum number of channels (LED, buzzer, etc.) that can register
            for event state change notifications.

endmenu
